doctype html
html
  head
    meta(charset='utf-8')
    title 上市公司市值排行榜-关于
    meta(name='google-site-verification' content='9hqB8FQbiTlIrkzcoBM8BC5X4ZQ2FEE1am7bTFSrnEk')
    // load css
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css' rel='stylesheet')
    link(rel='stylesheet' href='/stylesheets/ech_all.css') 
    link(rel='stylesheet' href='/stylesheets/style.css') 
  body
  // include 'back to top'
    include back_to_top.pug 
  // include banner
  include _banner.pug
  // table about content
  div(style='height: 100%;padding-top :60px;padding-left:10%;padding-right:10%')
    h3(style='text-align: center;')  &#x5173;&#x4E8E; &#x4E0A;&#x5E02;&#x516C;&#x53F8;&#x5E02;&#x503C;&#x6392;&#x884C;&#x699C; 
    hr
    br
    br
    li 本网站后台由Node.js 
      a(style='color:#D53A35;' href='https://koa.bootcss.com/' target='_blank') koa 
      |支持，如果显示或功能异常，请尝试切换至
      a(style='color:#D53A35;' href='https://v2.stockhey.com/' target='_blank') Flask MVC Version
    br
    li 或者切换至
      a(style='color:#D53A35;' href='https://www.stockhey.com/' target='_blank') Vue MVVM Version
      |或
      a(style='color:#D53A35;' href='https://v1.stockhey.com/' target='_blank') React MVVM Version
       
    br
    li 本网站数据来自互联网，且并未包含所有上市股票，仅供参考，不承担任何因数据有效性和正确性所造成损失的责任。
    br
    li 鉴于在多地同时上市的公司市值计算比较模糊，目前仅仅将其所有市场市值列出。待以后修改完善。
    br
    li 还有部分功能正在实现，欢迎支持
    br
    li 何建议和疑问，欢迎联系: 
      a(style='color:#D53A35;' href='mailto:whsasfdefy@gmail.com' target='_blank') @whsasf
  // include footer
  include footer.pug
  // import javascript
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js')
  script(type='text/javascript' src='/javascripts/myabout.js')

