footer(style='margin-top: 30px;padding-top:10px;')
  div(style='padding-left:5%;padding-right:5%' class='container col-md-12')
    h5.text-center 友情链接
    a.col-md-1.col-md-offset-1(href='https://github.com/koajs/koa' target='_blank') koa
    a.col-md-1.col-md-offset-1(href='https://echarts.apache.org/en/index.html' target='_blank') Echarts
    a.col-md-1.col-md-offset-1(href='http://www.eastmoney.com/' target='_blank') 东方财富网
    a.col-md-1.col-md-offset-1(href='https://splash.readthedocs.io/en/stable/' target='_blank') splash
    a.col-md-1.col-md-offset-1(href='https://scrapy.org/' target='_blank') scrapy
    a.col-md-1.col-md-offset-1(href='https://blog.whsasf.com' target='_blank') MyBlog
    br
    p.text-center
      a(href='http://www.beian.miit.gov.cn/' target='_blank') 沪ICP备19037220号-3
    p.text-center(style='padding-top:5px') 警告:本网站数据来自互联网，仅供参考，不承担任何因数据有效性和正确性所造成损失的责任。
